{erl_opts, [
    debug_info,
    {i, "include"}
]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [targeted_statem]}
]}.

% rebar PropEr
{project_plugins, [rebar3_proper]}.

% PropEr dependency
{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/xspirus/proper.git",
                      {branch, "master"}}}
        ]}
    ]}
]}.
